USE [master]
GO
/****** Object:  Database [SistemaContableArcano]    Script Date: 9/7/2018 21:07:28 ******/
CREATE DATABASE [SistemaContableArcano]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SistemaContableArcano', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALEXGD\MSSQL\DATA\SistemaContableArcano.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SistemaContableArcano_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.ALEXGD\MSSQL\DATA\SistemaContableArcano_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SistemaContableArcano].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SistemaContableArcano]
GO
USE [SistemaContableArcano]
GO
/****** Object:  Table [dbo].[TB_DETALLE_PERFIL]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DETALLE_PERFIL](
	[detperID] [int] IDENTITY(1,1) NOT NULL,
	[perID] [int] NOT NULL,
	[detperCedulaRuc] [numeric](13, 0) NOT NULL,
	[detperNombre] [varchar](50) NOT NULL,
	[detperApellido] [varchar](50) NOT NULL,
	[detperDireccion] [text] NOT NULL,
	[detperCorreo] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_DETALLES_TRANSACCION]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_DETALLES_TRANSACCION](
	[detranID] [int] NOT NULL,
	[tranID] [int] NOT NULL,
	[detranDescripcion] [text] NOT NULL,
	[detranPrecioUnitario] [money] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_ITEM_TRANSACCION]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_ITEM_TRANSACCION](
	[itemtraID] [int] IDENTITY(1,1) NOT NULL,
	[detranID] [int] NOT NULL,
	[plaitemID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PERFILES]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PERFILES](
	[perID] [int] IDENTITY(1,1) NOT NULL,
	[perDescripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PLANCUENTAS_ASIENTO]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PLANCUENTAS_ASIENTO](
	[plasienID] [int] NOT NULL,
	[plasubgrID] [int] IDENTITY(1,1) NOT NULL,
	[plasienNumero] [char](10) NOT NULL,
	[plasienNombre] [char](90) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PLANCUENTAS_GRUPO]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PLANCUENTAS_GRUPO](
	[plagruID] [int] IDENTITY(1,1) NOT NULL,
	[plagruCodigoGrupo] [numeric](1, 0) NOT NULL,
	[plagruTipo] [varchar](31) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PLANCUENTAS_ITEM]    Script Date: 9/7/2018 21:07:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PLANCUENTAS_ITEM](
	[plaitemID] [int] IDENTITY(1,1) NOT NULL,
	[plasienID] [int] NOT NULL,
	[plaitemNumero] [char](14) NOT NULL,
	[plaitemNombre] [char](85) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_PLANCUENTAS_SUBGRUPO]    Script Date: 9/7/2018 21:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_PLANCUENTAS_SUBGRUPO](
	[plasubgrID] [int] IDENTITY(1,1) NOT NULL,
	[plagruID] [int] NOT NULL,
	[plasubgrCodigo] [char](4) NOT NULL,
	[plasubgrNombre] [char](65) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TIPO_TRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TIPO_TRANSACCION](
	[tiptranID] [int] IDENTITY(1,1) NOT NULL,
	[tiptranDescripcion] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_TRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_TRANSACCION](
	[tranID] [int] IDENTITY(1,1) NOT NULL,
	[detperID] [int] NOT NULL,
	[usuID] [int] NOT NULL,
	[tiptranID] [int] NOT NULL,
	[tranDescripcion] [text] NOT NULL,
	[tranFecha] [datetime] NOT NULL,
	[tranAutorizacion] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USUARIO]    Script Date: 9/7/2018 21:07:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USUARIO](
	[usuID] [int] IDENTITY(1,1) NOT NULL,
	[usuNombre] [varchar](50) NOT NULL,
	[usuApellido] [varchar](50) NOT NULL,
	[usuDireccion] [text] NOT NULL,
	[usuCorreo] [varchar](30) NOT NULL,
	[usuFoto] [image] NULL,
	[usuNombreUsuario] [varchar](20) NOT NULL,
	[usuContrasena] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TB_DETALLE_PERFIL] ON 

INSERT [dbo].[TB_DETALLE_PERFIL] ([detperID], [perID], [detperCedulaRuc], [detperNombre], [detperApellido], [detperDireccion], [detperCorreo]) VALUES (1, 1, CAST(1722761045 AS Numeric(13, 0)), N'Alex', N'Salazar', N'ferroviaria', N'casperkldf.ksld')
INSERT [dbo].[TB_DETALLE_PERFIL] ([detperID], [perID], [detperCedulaRuc], [detperNombre], [detperApellido], [detperDireccion], [detperCorreo]) VALUES (2, 2, CAST(1722222222 AS Numeric(13, 0)), N'Stefania', N'Colcha', N'Carapungo', N'coldfdf@fgfg')
INSERT [dbo].[TB_DETALLE_PERFIL] ([detperID], [perID], [detperCedulaRuc], [detperNombre], [detperApellido], [detperDireccion], [detperCorreo]) VALUES (3, 2, CAST(174444444 AS Numeric(13, 0)), N'Milton', N'Chilig', N'El recreo', N'jenmilsdsdsd')
SET IDENTITY_INSERT [dbo].[TB_DETALLE_PERFIL] OFF
SET IDENTITY_INSERT [dbo].[TB_PERFILES] ON 

INSERT [dbo].[TB_PERFILES] ([perID], [perDescripcion]) VALUES (1, N'Cliente')
INSERT [dbo].[TB_PERFILES] ([perID], [perDescripcion]) VALUES (2, N'Proveedor')
SET IDENTITY_INSERT [dbo].[TB_PERFILES] OFF
SET IDENTITY_INSERT [dbo].[TB_USUARIO] ON 

INSERT [dbo].[TB_USUARIO] ([usuID], [usuNombre], [usuApellido], [usuDireccion], [usuCorreo], [usuFoto], [usuNombreUsuario], [usuContrasena]) VALUES (2, N'Kevin', N'Farinango', N'El recreo', N'casper.xcddf', NULL, N'kevin', N'145')
INSERT [dbo].[TB_USUARIO] ([usuID], [usuNombre], [usuApellido], [usuDireccion], [usuCorreo], [usuFoto], [usuNombreUsuario], [usuContrasena]) VALUES (4, N'Dario', N'Iza', N'La Bota', N'kevin@hotmail.com', NULL, N'dario', N'148')
SET IDENTITY_INSERT [dbo].[TB_USUARIO] OFF
/****** Object:  Index [PK_TB_CLIENTE_PROVEEDOR]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_DETALLE_PERFIL] ADD  CONSTRAINT [PK_TB_CLIENTE_PROVEEDOR] PRIMARY KEY NONCLUSTERED 
(
	[detperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_CODIGO_PERFIL_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_CODIGO_PERFIL_FK] ON [dbo].[TB_DETALLE_PERFIL]
(
	[perID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_DETALLES_TRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_DETALLES_TRANSACCION] ADD  CONSTRAINT [PK_TB_DETALLES_TRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[detranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_DTRANSACCIOON_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_DTRANSACCIOON_FK] ON [dbo].[TB_DETALLES_TRANSACCION]
(
	[tranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_ITEM_TRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_ITEM_TRANSACCION] ADD  CONSTRAINT [PK_TB_ITEM_TRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[itemtraID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_ITRANSACCION_DTRANSACCION_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_ITRANSACCION_DTRANSACCION_FK] ON [dbo].[TB_ITEM_TRANSACCION]
(
	[detranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [TB_ITEM_TRANSACCION2_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [TB_ITEM_TRANSACCION2_FK] ON [dbo].[TB_ITEM_TRANSACCION]
(
	[plaitemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_PERFILES]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_PERFILES] ADD  CONSTRAINT [PK_TB_PERFILES] PRIMARY KEY NONCLUSTERED 
(
	[perID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_PLANCUENTAS_ASIENTO]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_PLANCUENTAS_ASIENTO] ADD  CONSTRAINT [PK_TB_PLANCUENTAS_ASIENTO] PRIMARY KEY NONCLUSTERED 
(
	[plasienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_CASIENTO_CSUBGRUPO_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_CASIENTO_CSUBGRUPO_FK] ON [dbo].[TB_PLANCUENTAS_ASIENTO]
(
	[plasubgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_PLANCUENTAS_GRUPO]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_PLANCUENTAS_GRUPO] ADD  CONSTRAINT [PK_TB_PLANCUENTAS_GRUPO] PRIMARY KEY NONCLUSTERED 
(
	[plagruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_PLANCUENTAS_ITEM]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_PLANCUENTAS_ITEM] ADD  CONSTRAINT [PK_TB_PLANCUENTAS_ITEM] PRIMARY KEY NONCLUSTERED 
(
	[plaitemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_CITEM_CASIENTO_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_CITEM_CASIENTO_FK] ON [dbo].[TB_PLANCUENTAS_ITEM]
(
	[plasienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_PLANCUENTAS_SUBGRUPO]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_PLANCUENTAS_SUBGRUPO] ADD  CONSTRAINT [PK_TB_PLANCUENTAS_SUBGRUPO] PRIMARY KEY NONCLUSTERED 
(
	[plasubgrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_CSUBGRUPO_CGRUPO_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_CSUBGRUPO_CGRUPO_FK] ON [dbo].[TB_PLANCUENTAS_SUBGRUPO]
(
	[plagruID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_TIPOTRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_TIPO_TRANSACCION] ADD  CONSTRAINT [PK_TB_TIPOTRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[tiptranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_TRANSACCION]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_TRANSACCION] ADD  CONSTRAINT [PK_TB_TRANSACCION] PRIMARY KEY NONCLUSTERED 
(
	[tranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_TIPO_TRANSACCION_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_TIPO_TRANSACCION_FK] ON [dbo].[TB_TRANSACCION]
(
	[tiptranID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_TRANSACCION_CLIENTE_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_TRANSACCION_CLIENTE_FK] ON [dbo].[TB_TRANSACCION]
(
	[detperID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FK_USUARIO_TRANSACCION_FK]    Script Date: 9/7/2018 21:07:30 ******/
CREATE NONCLUSTERED INDEX [FK_USUARIO_TRANSACCION_FK] ON [dbo].[TB_TRANSACCION]
(
	[usuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_TB_USUARIO]    Script Date: 9/7/2018 21:07:30 ******/
ALTER TABLE [dbo].[TB_USUARIO] ADD  CONSTRAINT [PK_TB_USUARIO] PRIMARY KEY NONCLUSTERED 
(
	[usuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TB_DETALLE_PERFIL]  WITH CHECK ADD  CONSTRAINT [FK_TB_DETALLE_PERFIL_TB_PERFILES] FOREIGN KEY([perID])
REFERENCES [dbo].[TB_PERFILES] ([perID])
GO
ALTER TABLE [dbo].[TB_DETALLE_PERFIL] CHECK CONSTRAINT [FK_TB_DETALLE_PERFIL_TB_PERFILES]
GO
ALTER TABLE [dbo].[TB_DETALLES_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_DETALLES_TRANSACCION_TB_TRANSACCION] FOREIGN KEY([tranID])
REFERENCES [dbo].[TB_TRANSACCION] ([tranID])
GO
ALTER TABLE [dbo].[TB_DETALLES_TRANSACCION] CHECK CONSTRAINT [FK_TB_DETALLES_TRANSACCION_TB_TRANSACCION]
GO
ALTER TABLE [dbo].[TB_ITEM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_ITEM_TRANSACCION_TB_DETALLES_TRANSACCION] FOREIGN KEY([detranID])
REFERENCES [dbo].[TB_DETALLES_TRANSACCION] ([detranID])
GO
ALTER TABLE [dbo].[TB_ITEM_TRANSACCION] CHECK CONSTRAINT [FK_TB_ITEM_TRANSACCION_TB_DETALLES_TRANSACCION]
GO
ALTER TABLE [dbo].[TB_ITEM_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_ITEM_TRANSACCION_TB_PLANCUENTAS_ITEM] FOREIGN KEY([plaitemID])
REFERENCES [dbo].[TB_PLANCUENTAS_ITEM] ([plaitemID])
GO
ALTER TABLE [dbo].[TB_ITEM_TRANSACCION] CHECK CONSTRAINT [FK_TB_ITEM_TRANSACCION_TB_PLANCUENTAS_ITEM]
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_ASIENTO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLANCUENTAS_ASIENTO_TB_PLANCUENTAS_SUBGRUPO] FOREIGN KEY([plasubgrID])
REFERENCES [dbo].[TB_PLANCUENTAS_SUBGRUPO] ([plasubgrID])
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_ASIENTO] CHECK CONSTRAINT [FK_TB_PLANCUENTAS_ASIENTO_TB_PLANCUENTAS_SUBGRUPO]
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_ITEM]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLANCUENTAS_ITEM_TB_PLANCUENTAS_ASIENTO] FOREIGN KEY([plasienID])
REFERENCES [dbo].[TB_PLANCUENTAS_ASIENTO] ([plasienID])
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_ITEM] CHECK CONSTRAINT [FK_TB_PLANCUENTAS_ITEM_TB_PLANCUENTAS_ASIENTO]
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_SUBGRUPO]  WITH CHECK ADD  CONSTRAINT [FK_TB_PLANCUENTAS_SUBGRUPO_TB_PLANCUENTAS_GRUPO] FOREIGN KEY([plagruID])
REFERENCES [dbo].[TB_PLANCUENTAS_GRUPO] ([plagruID])
GO
ALTER TABLE [dbo].[TB_PLANCUENTAS_SUBGRUPO] CHECK CONSTRAINT [FK_TB_PLANCUENTAS_SUBGRUPO_TB_PLANCUENTAS_GRUPO]
GO
ALTER TABLE [dbo].[TB_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_TRANSACCION_TB_DETALLE_PERFIL] FOREIGN KEY([detperID])
REFERENCES [dbo].[TB_DETALLE_PERFIL] ([detperID])
GO
ALTER TABLE [dbo].[TB_TRANSACCION] CHECK CONSTRAINT [FK_TB_TRANSACCION_TB_DETALLE_PERFIL]
GO
ALTER TABLE [dbo].[TB_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_TRANSACCION_TB_TIPO_TRANSACCION] FOREIGN KEY([tiptranID])
REFERENCES [dbo].[TB_TIPO_TRANSACCION] ([tiptranID])
GO
ALTER TABLE [dbo].[TB_TRANSACCION] CHECK CONSTRAINT [FK_TB_TRANSACCION_TB_TIPO_TRANSACCION]
GO
ALTER TABLE [dbo].[TB_TRANSACCION]  WITH CHECK ADD  CONSTRAINT [FK_TB_TRANSACCION_TB_USUARIO] FOREIGN KEY([usuID])
REFERENCES [dbo].[TB_USUARIO] ([usuID])
GO
ALTER TABLE [dbo].[TB_TRANSACCION] CHECK CONSTRAINT [FK_TB_TRANSACCION_TB_USUARIO]
GO
USE [master]
GO
